@font-face {
  font-family: "SF-Pro";
  src: url(SF-Pro-Text-Ultralight.otf);
}

:root {
  --start-color: rgba(0, 255, 0, 0.2);
  --text-color: rgb(255, 255, 255);
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

#setTime {
  color: var(--text-color);
  font-size: 80px;
  font-family: "SF-Pro";
  font-variant-numeric: tabular-nums;
  margin-top: 130px;
  text-align: center;
}

button {
  font-size: 16px;
  font-family: "SF-Pro";
  font-weight: bold;
  border-radius: 50%;
  height: 85px;
  width: 85px;
}

.buttons {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#startStopButton {
  background-color: var(--start-color);
  color: rgb(0, 255, 0);
  border: double 7px black;
  margin-right: 15px;
}

#resetLapButton {
  background-color: rgba(153, 153, 153, 0.3);
  color: var(--text-color);
  border: double 7px black;
  margin-left: 15px;
}

table {
  border-collapse: collapse;
  font-size: 16px;
  font-family: "SF-Pro";
  font-weight: bold;
  font-variant-numeric: tabular-nums;
  color: var(--text-color);
}

#table {
  margin-top: 18px;
  max-height: 300px;
  overflow: auto;
}

td {
  border: 0px solid transparent;
  padding-left: 20px;
  background-clip: padding-box;
}

tr > td + td {
  border-left-width: 200px;
}

tr + tr > td {
  border-top-width: 30px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}
